@model EventApplicationProject.Models.LocationDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" asp-route-id="@Model.LocationId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocationId" />
            <div class="form-group">
                <label asp-for="LocationName" class="control-label">Location Name:</label>
                <input asp-for="LocationName" class="form-control" placeholder="@Model.LocationName" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address:</label>
                <input asp-for="Address" class="form-control" placeholder="@Model.Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label">Capacity:</label>
                <input asp-for="Capacity" class="form-control" placeholder="@Model.Capacity" type="number" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}